[Unit]
Description=Kubernetes Kubelet (Worker)
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/bin/kubelet  \
--api-servers=http://192.168.1.52:8080 \
--allow-privileged=true \
--config=/etc/kubernetes/worker \
--v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
