[Unit]
Description=Kubernetes Cluster Node
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
Type=forking
ExecStart=/etc/kubernetes/scripts/kubernetes.sh start
ExecStop=/etc/kubernetes/scripts/turndown.sh stop
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
